<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">

    <testsuites>
        <testsuite name="TYPO3 Doctrine ORM">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Classes/</directory>
            <exclude>
                <directory suffix=".php">Classes/Domain/Model/</directory>
                <directory suffix=".php">Classes/Domain/Traits/</directory>
                <directory suffix=".php">Classes/Command/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
